@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700');
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

a:hover {
    text-decoration: none;
    cursor:pointer;
}

a {
    text-decoration: none;
}

header {
    background: #87cefd;
    opacity: .8;
    /* Old browsers */
    background: linear-gradient(to right, #87cefd 0%, #53b4f1 69%, #0589e1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cefd', endColorstr='#0589e1', GradientType=1);
    /* IE6-9 */
    height: 100px;
}
#span1 {
    margin-left: 35px;
    margin-bottom: 17px;
}

#span2 a{
    line-height: 100px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

table {
    margin: 0 auto;
}

table tr td:first-child {
    font-weight: bold;
}

table tr td {
    padding: 5px;
}

.weathermains {
    text-align: center;
    margin-bottom: 100px;
}

.weathersearch {
    margin-top: 35px;
    text-align: center;
}

.container-floid {

}

#forms {
    text-align: center;
    float: right;
    margin-right: 35px;
}

form {
    margin-top: 35px;
}

form input {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: none;
    width: 180px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}

form button {
    width: 70px;
    height: 30px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: none;
    color:white;
    background: #002BFF;
}

*:focus {
    outline: none;
}

@media (max-width:460px) {
    header{
        height: 150px;
    }
    #forms{
      position: absolute;
      top:30%;
      left:20%;
    }
}


/*loader*/

#fountainG {
    position: relative;
    width: 162px;
    height: 20px;
    margin: auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(107, 119, 255);
    width: 20px;
    height: 20px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.3s;
    -o-animation-duration: 1.3s;
    -ms-animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 13px;
    -o-border-radius: 13px;
    -ms-border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -moz-animation-delay: 0.52s;
}

#fountainG_2 {
    left: 20px;
    animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
}

#fountainG_3 {
    left: 40px;
    animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -moz-animation-delay: 0.78s;
}

#fountainG_4 {
    left: 61px;
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

#fountainG_5 {
    left: 81px;
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

#fountainG_6 {
    left: 101px;
    animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -moz-animation-delay: 1.17s;
}

#fountainG_7 {
    left: 121px;
    animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

#fountainG_8 {
    left: 142px;
    animation-delay: 1.43s;
    -o-animation-delay: 1.43s;
    -ms-animation-delay: 1.43s;
    -webkit-animation-delay: 1.43s;
    -moz-animation-delay: 1.43s;
}

@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(28, 119, 255);
    }
    100% {
        transform: scale(.3);
        background-color: rgb(111, 236, 252);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(28, 119, 255);
    }
    100% {
        -o-transform: scale(.3);
        background-color: rgb(111, 236, 252);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(28, 119, 255);
    }
    100% {
        -ms-transform: scale(.3);
        background-color: rgb(111, 236, 252);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(28, 119, 255);
    }
    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(111, 236, 252);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(28, 119, 255);
    }
    100% {
        -moz-transform: scale(.3);
        background-color: rgb(111, 236, 252);
    }
}
